<div class="outer-wrap">
    <div class="head">
        <div class="head-inner">
        <div class="login-signup-box">
            <div class="log-in" ui-sref="login">Log in</div>
            <div class="divider">|</div>
            <div class="sign-up" ui-sref="signup">Sign up</div>
        </div>
        </div>
    </div>
    <div class="mid">
        <div class="title">TechTutor</div>
        <div class="arrow" ui-sref="tutorlist">
        </div>
    </div>
    <div class="footer"></div>
</div>