<div class="outer-wrap">
    <div class="home-border">
        <div class="home-head">
            <div class="home-head-padding-top"></div>
            <div class="home-header-inner">
                <div class="home-log-in" ui-sref="login">Log in</div>
                <div class="home-divider">&nbsp|&nbsp</div>
                <div class="home-sign-up" ui-sref="signup">Sign up</div>
            </div>
            <div class="home-head-padding-bottom"></div>
        </div>
            <div class="home-body">
                <div class="home-body-inner">
                    <div class="home-title-arrow">
                        <div class="home-title">TechTutor</div>
                        <div class="home-arrow" ui-sref="tutorlist"></div>
                    </div>
                </div>
            </div>
    </div>
</div>