<div class="outer-wrap-login">
    <div class="login-head">
        <div class="login-head-padding-top"></div>
        <div class="box-login-header-inner">
            <div class="login-home" ui-sref="home">Home</div>
        </div>
        <div class="login-head-padding-bottom"></div>
    </div>
    <div class="login-box">
        <div class="login-padding-top"></div>
        <div class="login-box-mid">
            <div class="login-box-top">Log in</div>
            <div class="login-box-bottom">
                <form ng-submit="login(tutorlogin)">
                    <input class="login-email" ng-model="tutorlogin.email" placeholder="Email" required>
                    <br>
                    <br>
                    <input class="login-password" type="password" ng-model="tutorlogin.password" placeholder="Password" required>
                    <br>
                    <br>
                    <input class="login-submit" type="submit" value="Go">
                </form>
            </div>
        </div>
        <div class="login-padding-bottom"></div>
    </div>
</div>