<div class="outer-wrap-login">
    <div class="login-box">
        <div class="login-padding-top"></div>
        <div class="login-box-mid">
            <div class="login-box-top">Log in</div>
            <div class="login-box-bottom">
                <form ng-submit='login()'>
                <input class="login-email" type="text" placeholder="Email">
                <br>
                <input class="login-password" type="password" placeholder="Password">
                <br>
                <input class="login-submit" type="submit" value="Log in" ui-sref="tutorlist">
                </form>
            </div>
        </div>
        <div class="login-padding-bottom"></div>
    </div>
</div>