<div class="loginform-head">
    <div class="loginform-head-padding-top"></div>
    <div class="box-loginform-header-inner">
        <div class="loginform-home" ui-sref="home">Home</div>
    </div>
    <div class="loginform-head-padding-bottom"></div>
</div>
<div class="loginform-name">
    <div class="loginform-name-padding-top"></div>
    <div class="box-loginform-name-inner">
        <div class="loginform-name" ui-sref="home">Name</div>
    </div>
    <div class="loginform-name-padding-bottom"></div>
</div>
<div class="loginform-about">
    <div class="loginform-aboutpadding-top"></div>
    <div class="box-loginform-about-inner">
        <div class="loginform-about" ui-sref="home">About</div>
    </div>
    <div class="loginform-about-padding-bottom"></div>
</div>
<div class="loginform-skills">
    <div class="loginform-skills-padding-top"></div>
    <div class="box-loginform-skills-inner">
        <div class="loginform-skills" ui-sref="home">Skills</div>
    </div>
    <div class="loginform-skills-padding-bottom"></div>
</div>
<div class="loginform-education">
    <div class="loginform-education-padding-top"></div>
    <div class="box-loginform-education-inner">
        <div class="loginform-education" ui-sref="home">Education</div>
    </div>
    <div class="loginform-education-padding-bottom"></div>
</div>


