<div class="reviewdirective-outer-wrap" ng-click="showhide = !showhide"></div>
<div class="reviewdirective-inner-wrap">
    <div class="reviewdirective-head">
        <div class="reviewdirective-head-padding-top"></div>
        <div class="reviewdirective-head-inner">
            <i class="fa fa-times" aria-hidden="true" ng-click="showhide = !showhide"></i>
        </div>
        <div class="reviewdirective-head-padding-bottom"></div>
    </div>
    <div class="reviewdirective-body">
        <div class="reviewdirective-body-top">
            <div class="reviewdirective-body-top-text">Write a Review for NAME</div>
            <div class="reviewdirective-body-top-stars"> <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <div class="reviewdirective-body-mid">
            </div>
            <div class="reviewdirective-body-lower">
            </div>
        </div>
    </div>