<div class="outer-wrap-signupform">
    <div class="signupform-head">
        <div class="signupform-head-padding-top"></div>
        <div class="box-signupform-header-inner">
            <div class="signupform-home" ui-sref="home">Home</div>
        </div>
        <div class="signupform-head-padding-bottom"></div>
    </div>
    <div class="signupform-box">
        <div class="signupform-padding-top"></div>
        <div class="signupform-top">Sign up</div>
        <div class="signupform-padding-bottom"></div>
    </div>
    <div class="signupform-box-basic">
        <div class="signupform-basic-padding-top"></div>
        <div class="signupform-box-basic-inner">
            <div class="signupform-basic-top">
                <p class="signupform-basic-title">Basic</p>
            </div>
            <div class="signupform-basic-mid">
                <p class="signupform-basic-text">
                    <form class="signupform-form" ng-submit="signupform(tutorsignupform)">
                        <input class="signupform-firstname" ng-model="tutorsignupform.firstname" placeholder="First Name" required>
                        <input class="signupform-lastname" ng-model="tutorsignupform.lastname" placeholder="Last Name" required>
                        <br>
                        <br>
                        <input class="signupform-email" ng-model="tutorsignupform.email" placeholder="Email" required>
                        <input class="signupform-password" type="password" ng-model="tutorsignupform.password" placeholder="Password" required>
                    </form>
                </p>
            </div>
        </div>
        <div class="signupform-basic-padding-bottom"></div>
    </div>
    <div class="signupform-box-about">
        <div class="signupform-about-padding-top"></div>
        <div class="signupform-box-about-inner">
            <div class="signupform-about-top">
                <p class="signupform-about-title">About</p>
            </div>
            <div class="signupform-about-mid">
                <p class="signupform-about-text">
                    <form class="signupform-form" ng-submit="signupform(tutorsignupform)">
                        <input class="signupform-firstname" ng-model="tutorsignupform.firstname" placeholder="First Name" required>
                        <input class="signupform-lastname" ng-model="tutorsignupform.lastname" placeholder="Last Name" required>
                        <br>
                        <br>
                        <input class="signupform-email" ng-model="tutorsignupform.email" placeholder="Email" required>
                        <input class="signupform-password" type="password" ng-model="tutorsignupform.password" placeholder="Password" required>
                    </form>
                </p>
            </div>
        </div>
        <div class="signupform-about-padding-bottom"></div>
    </div>
    <div class="signupform-box-skills">
        <div class="signupform-skills-padding-top"></div>
        <div class="signupform-box-skills-inner">
            <div class="signupform-skills-top">
                <p class="signupform-skills-title">Skills</p>
            </div>
            <div class="signupform-skills-bottom">
                <p class="signupform-skills-text">
                    <form class="signupform-form" ng-submit="signupform(tutorsignupform)">
                        <input class="signupform-firstname" ng-model="tutorsignupform.firstname" placeholder="First Name" required>
                        <input class="signupform-lastname" ng-model="tutorsignupform.lastname" placeholder="Last Name" required>
                        <br>
                        <br>
                        <input class="signupform-email" ng-model="tutorsignupform.email" placeholder="Email" required>
                        <input class="signupform-password" type="password" ng-model="tutorsignupform.password" placeholder="Password" required>
                    </form>
                </p>
            </div>
        </div>
        <div class="signupform-skills-padding-bottom"></div>
    </div>
    <div class="signupform-box-education">
        <div class="signupform-education-padding-top"></div>
        <div class="signupform-box-education-inner">
            <div class="signupform-education-top">
                <p class="signupform-education-title">Education</p>
            </div>
            <div class="signupform-education-bottom">
                <form class="signupform-form" ng-submit="signupform(tutorsignupform)">
                    <input class="signupform-firstname" ng-model="tutorsignupform.firstname" placeholder="First Name" required>
                    <input class="signupform-lastname" ng-model="tutorsignupform.lastname" placeholder="Last Name" required>
                    <br>
                    <br>
                    <input class="signupform-email" ng-model="tutorsignupform.email" placeholder="Email" required>
                    <input class="signupform-password" type="password" ng-model="tutorsignupform.password" placeholder="Password" required>
                </form>
                <br>
            </div>
        </div>
        <div class="signupform-education-padding-bottom"></div>
    </div>