<div class="outer-wrap-signup">
    <div class="signup-head">
        <div class="signup-head-padding-top"></div>
        <div class="box-signup-header-inner">
            <div class="signup-home" ui-sref="home">Home</div>
        </div>
        <div class="signup-head-padding-bottom"></div>
    </div>
    <div class="signup-box">
        <div class="signup-padding-top"></div>
        <div class="signup-box-mid">
            <div class="signup-box-top">Sign up</div>
            <div class="signup-box-bottom">
                <form class="signup-form" ng-submit='signup(tutorsignup)'>
                    <input class="signup-firstname" ng-model="tutorsignup.firstname" placeholder="First Name" required>
                    <input class="signup-lastname" ng-model="tutorsignup.lastname" placeholder="Last Name" required>
                    <br>
                    <br>
                    <input class="signup-email" ng-model="tutorsignup.email" placeholder="Email" required>
                    <input class="signup-password" type="password" ng-model="tutorsignup.password" placeholder="Password" required>
                    <br>
                    <br>
                    <input class="signup-submit" type="submit" value="Next">
                </form>
            </div>
            <div class="signup-padding-bottom"></div>
        </div>
    </div>
</div>