<div class="box-name">
    <div class="box-name-inner">
        <div class="profilepic-box-detail">
            <img class="profilepic-detail" src="https://unsplash.it/50" alt="profile picture">
        </div>
        <div class="name-box-detail">
            <p class="tutor-name-detail">{{tutor.firstname}} {{tutor.lastname[0]}}.</p>
            <div class="rating-box-detail">
                <div class="rating-detail">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </div>
            <p class="tutor-location-detail">{{tutor.location}}</p>
        </div>
        <div class="bio-box-detail">
            <div class="title-detail">
{{tutor.title}}
            </div>
        </div>
    </div>
</div>
<div class="box-qualifications">
    <div class="box-qualifications-inner">
    </div>
</div>
<div class="box-about">
    <div class="box-about-inner"></div>
</div>
<div class="box-education">
    <div class="box-education-inner"></div>
</div>
<div class="box-policies">
    <div class="box-policies-inner"></div>
</div>
<div class="box-subjects">
    <div class="box-subjects-inner"></div>
</div>
<div class="box-reviews">
    <div class="box-reviews-inner"></div>
</div>