<div class="box-name">
    <div class="box-name-inner">
        <div class="profilepic-box-detail">
            <img class="profilepic-detail" src="https://unsplash.it/50" alt="profile picture">
        </div>
        <div class="name-box-detail">
            <div class="title-detail">
                {{tutor.title}}
            </div>
            <p class="tutor-name-detail">{{tutor.firstname}} {{tutor.lastname[0]}}.</p>
        </div>
        <div class="bio-box-detail">
            <div class="rate-detail">
                {{tutor.rate}}
            </div>
            <div class="rating-box-detail">
                <div class="rating-detail">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </div>
            <p class="tutor-location-detail">{{tutor.location}}</p>
        </div>
    </div>
</div>
<div class="box-about">
    <div class="box-about-padding"></div>
    <div class="box-about-inner">
        <div class="about-top">
            <p class="about-title">About {{tutor.firstname}}</p>
        </div>
        <div class="about-bottom">
            <p class="about-text">{{tutor.bio}}</p>
        </div>
    </div>
</div>
<div class="box-skills">
    <div class="box-skills-padding"></div>
    <div class="box-skills-inner">
        <div class="skills-top">
            <p class="skills-title">Skills</p>
        </div>
        <div class="skills-bottom">
            <p class="skills-text"></p>
        </div>
    </div>
</div>
<div class="box-education">
    <div class="box-education-padding"></div>
    <div class="box-education-inner">
        <div class="education-top">
            <p class="education-title">Education</p>
        </div>
        <div class="education-bottom">
            <p class="education-text"></p>
        </div>
    </div>
</div>
<div class="box-reviews">
    <div class="box-reviews-padding"></div>
    <div class="box-reviews-inner">
        <div class="reviews-top">
            <div class="reviews-top-left">
                <p class="reviews-title">Reviews <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></p>
            </div>
            <div class="reviews-top-right">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
        </div>
        <div class="reviews-bottom">
            <div class="reviews-comment">
                "{{rd.review}}" —{{rd.studentfirstname}}
            </div>
        </div>
    </div>
</div>