.outer-wrap {
    width: 100%;
    height: 100vh;
    background-image: url("../pictures/blankChalkboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: chalk;
    .head {
        width: 100%;
        height: 20vh;
        // background: pink;
        position: relative;
        .login {
            cursor: pointer;
            background: none;
            color: white;
            text-align: center;
            font-family: chalk;
            font-size: .7em;
            white-space: no wrap;
            width: 7%;
            height: 25px;
            margin: auto;
            // border-style: solid;
            // border-color: white;
            // border-width: 2px;
            border: none;
            float: right;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
    .mid {
        width: 100%;
        height: 60vh;
        // background: yellow;
        @include flexSetUp(center,
        center,
        column);
        .title {
            letter-spacing: 2px;
            font-size: 9em;
            // background: black;
        }
        .arrow {
            height: 110px;
            width: 150px;
            background: url("../pictures/chalkArrow.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            cursor: pointer;
        }
    }
    .footer {
        width: 100%;
        height: 20vh;
        // background: lightblue;
    }
}