@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
.outer-wrap {
    width: 100%;
    height: 100vh;
    background-image: url("../pictures/blankChalkboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: chalk;
    @include flexSetUp(flex-start,
    center,
    column);
    .home-border {
        width: 425px;
        height: 100%;
        border: 6px double white;
        .home-head {
            border: 1px solid white;
            border-right: none;
            border-left: none;
            border-top: none;
            @include flexSetUp(center,
            center,
            column);
            .home-head-padding-top {
                width: 100%;
                height: 20px;
                // background: yellow;
            }
            .home-header-inner {
                width: 95%;
                height: 75%;
                font-size: 1em;
                // border: 1px solid blue;
                @include flexSetUp(flex-start,
                center);
                .home-log-in {
                    cursor: pointer;
                }
                .home-divider {
                    font-family: 'Open Sans Condensed', sans-serif;
                }
                .home-sign-up {
                    cursor: pointer;
                }
            }
            .home-head-padding-bottom {
                width: 100%;
                height: 20px;
                // background: yellow;
            }
        }

            .home-body {
                width: 100%;
                height: 340px;
                // background: pink;
                @include flexSetUp(center,
                center,
                column);
                .home-body-inner {
                    width: 100%;
                    height: 100%;
                    @include flexSetUp(center,
                    center);
                    .home-title-arrow {
                        width: 95%;
                        height: 75%;
                        // border: 1px solid blue;
                        @include flexSetUp(center,
                        center,
                        column);
                        .home-title {
                            letter-spacing: 2px;
                            font-size: 6em;
                        }
                        .home-arrow {
                            height: 50px;
                            width: 150px;
                            // background: pink;
                            background-image: url("../pictures/chalk-arrow-jake.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            cursor: pointer;
                        }
                    }
                }
            }
    }
}