.outer-wrap-form {
    width: 100%;
    height: 100vh;
    background-image: url("../pictures/blankChalkboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: chalk;
}