    .outer-wrap-login {
        width: 100%;
        height: 100vh;
        background-image: url("../pictures/blankChalkboard.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
        font-family: chalk;
        @include flexSetUp(flex-start,
        center,
        column);
        .login-border {
            width: 425px;
            height: 100%;
            border: 6px double white;
            .login-head {
                width: 100%;
                // background: pink;
                @include flexSetUp(center,
                center,
                column);
                .login-head-padding-top {
                    width: 100%;
                    height: 20px;
                    // background: yellow;
                }
                .box-login-header-inner {
                    width: 95%;
                    height: 75%;
                    // border: 1px solid blue;
                    @include flexSetUp(flex-start,
                    center);
                    .login-home {
                        cursor: pointer;
                    }
                }
                .login-head-padding-bottom {
                    width: 100%;
                    height: 20px;
                    // background: yellow;
                }
            }
            .login-box {
                width: 425px;
                border: 1px solid white;
                border-right: none;
                border-left: none;
                border-bottom: none;
                // background: orange;
                @include flexSetUp(center,
                center);
                .login-box-inner {
                    width: 95%;
                    height: 75%;
                    // border: 1px solid blue;
                    // @include flexSetUp(center,
                    // center,
                    // column);
                    .login-padding-top {
                        width: 100%;
                        height: 20px;
                        // background: yellow;
                    }
                    .login-box-mid {
                        width: 100%;
                        // height: 150px;
                        @include flexSetUp(center,
                        center,
                        column);
                        // background: green;
                        .login-box-top {
                            width: 100%;
                            height: 40px;
                            font-size: 1.6em;
                            // background: black;
                        }
                        .login-box-bottom {
                            width: 100%;
                            height: 80%;
                            // border-top: solid white 1px;
                            // background: blue;
                            // @include flexSetUp(center,
                            // center,
                            // column);
                            .login-email {
                                background: none;
                                border: none;
                                border-bottom: solid white 1px;
                                color: white;
                                font-family: chalk;
                                font-size: 1em;
                            }
                            .login-password {
                                background: none;
                                border: none;
                                border-bottom: solid white 1px;
                                color: white;
                                font-family: chalk;
                                font-size: 1em;
                            }
                            .login-submit {
                                cursor: pointer;
                                background: none;
                                border: none;
                                color: white;
                                font-family: chalk;
                                font-size: 1em;
                            }
                        }
                    }
                    .login-padding-bottom {
                        width: 100%;
                        height: 20px;
                        // background: yellow;
                    }
                }
            }
        }
    }