.reviewdirective-outer-wrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: grey;
    opacity: 0.5;
    @include flexSetUp(center, center);
}

.reviewdirective-inner-wrap {
    width: 425px;
    // background: grey;
            background-image: url("../pictures/blankChalkboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .reviewdirective-head {
        width: 100%;
        // background: pink;
        .reviewdirective-head-padding-top {
            width: 100%;
            height: 10px;
            // background: yellow;
        }
        .reviewdirective-head-inner {
            width: 100%;
            height: 10px;
            @include flexSetUp(flex-start, center);
            .fa-times {
                padding-left: 10px;
            }
        }
        .reviewdirective-head-padding-bottom {
            width: 100%;
            height: 10px;
            // background: yellow;
        }
    }
    .reviewdirective-form {
        .reviewdirective-body-top {
            width: 100%;
            // background: blue;
            .reviewdirective-body-top-text {
                width: 100%;
                height: 25px;
                // background: pink;
                @include flexSetUp(center, center);
            }
            .reviewdirective-body-top-rating {
                width: 100%;
                height: 25px;
                @include flexSetUp(center, center);
                .rating-select {
                    background: none;
                }
            }
        }
            .reviewdirective-body-mid {
                width: 100%;
                // background: orange;
                @include flexSetUp(space-around,
                center,
                column);
                .reviewdirective-reviewtext-box {
                    width: 100%;
                    height: 50px;
                    // background: purple;
                    @include flexSetUp(center,
                    center);
                    .reviewdirective-reviewtext {
                        width: 300px;
                        height: 30px;
                        font-size: 13px;
                    }
                }
                .reviewdirective-reviewname-box {
                    width: 100%;
                    height: 50px;
                    @include flexSetUp(center,
                    center);
                    .reviewdirective-firstname {}
                    .reviewdirective-lastname {}
                }
            }
            .reviewdirective-body-lower {
                width: 100%;
                height: 50px;
                // background: blue;
                @include flexSetUp(center,
                center);
                .reviewdirective-reviewsubmit {}
            }
    }
}