            .outer-wrap-signupform {
                width: 100%;
                background-image: url("../pictures/blankChalkboard.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                color: white;
                font-family: chalk;
                @include flexSetUp(flex-start,
                center,
                column);
                .signup-border {
                    width: 425px;
                    // height: 100%;
                    border: 6px double white;
                    .signupform-head {
                        width: 100%;
                        // background: pink;
                        @include flexSetUp(center,
                        center,
                        column);
                        .signupform-head-padding-top {
                            width: 100%;
                            height: 20px;
                            // background: yellow;
                        }
                        .box-signupform-header-inner {
                            width: 95%;
                            height: 75%;
                            // border: 1px solid blue;
                            @include flexSetUp(flex-start,
                            center);
                            .signupform-home {
                                cursor: pointer;
                            }
                        }
                        .signupform-head-padding-bottom {
                            width: 100%;
                            height: 20px;
                            // background: yellow;
                        }
                    }
                    .signupform-form {
                        .signupform-box-basic {
                            width: 425px;
                            border: 1px solid white;
                            border-right: none;
                            border-left: none;
                            @include flexSetUp(flex-start,
                            center,
                            column);
                            letter-spacing: .7px;
                            .signupform-basic-padding-top {
                                width: 100%;
                                height: 20px;
                                // background: orange;
                            }
                            .signupform-box-basic-inner {
                                width: 95%;
                                // border: 1px solid blue;
                                .signupform-basic-top {
                                    width: 100%;
                                    height: 25px;
                                    font-size: 1em;
                                    // background: yellow;
                                    .signupform-basic-title {}
                                }
                                .signupform-basic-mid {
                                    width: 100%;
                                    font-size: .6em;
                                    // background: pink;
                                    .signupform-basic-text {
                                        .signupform-citystate {
                                            background: none;
                                            border: none;
                                            border-bottom: solid white 1px;
                                            font-family: chalk;
                                            color: white;
                                        }
                                        .signupform-rate {
                                            background: none;
                                            border: none;
                                            border-bottom: solid white 1px;
                                            font-family: chalk;
                                            color: white;
                                        }
                                    }
                                }
                            }
                            .signupform-basic-padding-bottom {
                                width: 100%;
                                height: 20px;
                                // background: grey;
                            }
                        }
                        .signupform-box-about {
                            width: 425px;
                            border: 1px solid white;
                            border-right: none;
                            border-left: none;
                            @include flexSetUp(flex-start,
                            center,
                            column);
                            letter-spacing: .7px;
                            .signupform-about-padding-top {
                                width: 100%;
                                height: 20px;
                                // background: orange;
                            }
                            .signupform-box-about-inner {
                                width: 95%;
                                // border: 1px solid blue;
                                .signupform-about-top {
                                    width: 100%;
                                    height: 25px;
                                    font-size: 1em;
                                    // background: yellow;
                                    .signupform-about-title {}
                                }
                                .signupform-about-mid {
                                    width: 100%;
                                    font-size: .6em;
                                    // background: pink;
                                    .signupform-about-text {
                                        .signupform-jobtitle {
                                            background: none;
                                            border: none;
                                            border-bottom: solid white 1px;
                                            font-family: chalk;
                                            color: white;
                                        }
                                        .signupform-bio {
                                            background: none;
                                            border: none;
                                            border-bottom: solid white 1px;
                                            font-family: chalk;
                                            color: white;
                                        }
                                    }
                                }
                            }
                            .signupform-about-padding-bottom {
                                width: 100%;
                                height: 20px;
                                // background: grey;
                            }
                        }
                        .signupform-box-skills {
                            width: 425px;
                            border: 1px solid white;
                            border-right: none;
                            border-left: none;
                            @include flexSetUp(flex-start,
                            center,
                            column);
                            letter-spacing: .7px;
                            .signupform-skills-padding-top {
                                width: 100%;
                                height: 20px;
                                // background: orange;
                            }
                            .signupform-box-skills-inner {
                                width: 95%;
                                height: 75%;
                                // border: 1px solid blue;
                                @include flexSetUp(flex-start,
                                flex-start,
                                column);
                                .signupform-skills-top {
                                    width: 100%;
                                    height: 25px;
                                    font-size: 1em;
                                    // background: yellow;
                                    .skills-title {}
                                }
                                .signupform-skills-bottom {
                                    width: 100%;
                                    height: 60%;
                                    font-size: .6em;
                                    // background: pink;
                                    .signupform-skillone {
                                        background: none;
                                        border: none;
                                        border-bottom: solid white 1px;
                                        font-family: chalk;
                                        color: white;
                                    }
                                    .signupform-skilltwo {
                                        background: none;
                                        border: none;
                                        border-bottom: solid white 1px;
                                        font-family: chalk;
                                        color: white;
                                    }
                                    .signupform-skillthree {
                                        background: none;
                                        border: none;
                                        border-bottom: solid white 1px;
                                        font-family: chalk;
                                        color: white;
                                    }
                                    .signupform-skillfour {
                                        background: none;
                                        border: none;
                                        border-bottom: solid white 1px;
                                        font-family: chalk;
                                        color: white;
                                    }
                                    .signupform-skillfive {
                                        background: none;
                                        border: none;
                                        border-bottom: solid white 1px;
                                        font-family: chalk;
                                        color: white;
                                    }
                                    .signupform-skillsix {
                                        background: none;
                                        border: none;
                                        border-bottom: solid white 1px;
                                        font-family: chalk;
                                        color: white;
                                    }
                                }
                            }
                            .signupform-skills-padding-bottom {
                                width: 100%;
                                height: 20px;
                                // background: orange;
                            }
                        }
                        .signupform-box-education {
                            width: 425px;
                            border: 1px solid white;
                            border-right: none;
                            border-left: none;
                            // background: pink;
                            @include flexSetUp(flex-start,
                            center,
                            column);
                            letter-spacing: .7px;
                            .signupform-education-padding-top {
                                width: 100%;
                                height: 20px;
                                // background: orange;
                            }
                            .signupform-box-education-inner {
                                width: 95%;
                                // border: 1px solid blue;
                                @include flexSetUp(flex-start,
                                flex-start,
                                column);
                                .signupform-education-top {
                                    width: 100%;
                                    height: 25px;
                                    font-size: 1em;
                                    // background: black;
                                }
                                .signupform-education-bottom {
                                    width: 100%;
                                    color: white;
                                    font-size: .6em;
                                    .signupform-school {
                                        width: 100%;
                                        height: 20px;
                                        .signupform-schoolone {
                                            background: none;
                                            border: none;
                                            border-bottom: solid white 1px;
                                            font-family: chalk;
                                        }
                                        .signupform-schooltwo {
                                            background: none;
                                            border: none;
                                            border-bottom: solid white 1px;
                                            font-family: chalk;
                                        }
                                        .signupform-schoolthree {
                                            background: none;
                                            border: none;
                                            border-bottom: solid white 1px;
                                            font-family: chalk;
                                        }
                                    }
                                    .signupform-degree {
                                        width: 100%;
                                        height: 20px;
                                        font-family: chalk;
                                        // background: green;
                                        .signupform-degreeone {
                                            background: none;
                                            border: none;
                                            border-bottom: solid white 1px;
                                            font-family: chalk;
                                        }
                                        .signupform-degreetwo {
                                            background: none;
                                            border: none;
                                            border-bottom: solid white 1px;
                                            font-family: chalk;
                                        }
                                        .signupform-degreethree {
                                            background: none;
                                            border: none;
                                            border-bottom: solid white 1px;
                                            font-family: chalk;
                                        }
                                    }
                                }
                            }
                            .signupform-education-padding-bottom {
                                width: 100%;
                                height: 20px;
                                // background: orange;
                            }
                        }
                        .signupform-submit-box {
                            width: 425px;
                            border: 1px solid white;
                            border-right: none;
                            border-left: none;
                            font-size: .6em;
                            @include flexSetUp(center,
                            center,
                            column);
                            .signupform-submit-padding-top {
                                width: 100%;
                                height: 20px;
                                // background: orange;
                            }
                            .signupform-submit-inner {
                                width: 95%;
                                height: 75%;
                                // border: 1px solid blue;
                                .signupform-submit {
                                    cursor: pointer;
                                    background: none;
                                    border: none;
                                    color: white;
                                    font-family: chalk;
                                    position: relative;
                                    right: 6px;
                                }
                            }
                            .signupform-submit-padding-bottom {
                                width: 100%;
                                height: 20px;
                                // background: orange;
                            }
                        }
                    }
                }
            }