.tutorlist-directive {
    @include flexSetUp(flex-start, center, column);
    .box {
        width: 425px;
        height: 100px;
        border: 1px solid white;
        border-right: none;
        border-left: none;
        @include flexSetUp(center, center);
        letter-spacing: .7px;
        .profile-box {
            width: 95%;
            height: 75%;
            // border: 1px solid white;
            @include flexSetUp(flex-start, flex-start, row);
            .profilepic-box {
                height: 100%;
                width: 60px;
                // background: yellow;
                @include flexSetUp(flex-start, flex-start);
                .profilepic {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    cursor: pointer;
                }
            }
            .name-box {
                height: 100%;
                width: 125px;
                // background: pink;
                .tutor-name {
                    font-size: 1em;
                    cursor: default;
                }
                .tutornameSpan {
                    cursor: pointer;
                }
                .tutornameSpan:hover {
                    text-decoration: underline;
                }
                .rating-box {
                    .rating {
                        line-height: 1.5em;
                        font-size: .7em;
                    }
                }
                .tutor-location {
                    font-size: .6em;
                    // line-height: 1.5em;
                }
            }
            .bio-box {
                height: 100%;
                width: 175px;
                // background: lightblue;
                .title {
                    height: 30%;
                    width: 100%;
                    // background: yellow;
                    font-size: .7em;
                    cursor: default;
                }
                .tutortitleSpan {
                    cursor: pointer;
                }
                .tutortitleSpan:hover {
                    text-decoration: underline;
                }
                .bio {
                    height: 70%;
                    width: 100%;
                    // background: green;
                    font-size: .5em;
                }
            }
            .rate-box {
                height: 100%;
                width: 50px;
                letter-spacing: 1px;
                // background: red;
                @include flexSetUp(center, flex-start);
            }
        }
    }
}

hr {
    width: 425px;
}