.outer-wrap-tutorlist {
    width: 100vw;
    background-image: url("../pictures/blankChalkboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: chalk;
    @include flexSetUp(flex-start,
    center,
    column);
}